<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Описание сайта">
  <meta name="keywords" content="Ключевые слова">
  <meta name="language" content="RU, EN">
  <meta name="author" content="Сидоров Сергей, sergey.4181.s@yandex.ru">
  <link rel="stylesheet" th:href="@{/css/index.css}" />
  <title>Анализатор финансов</title>
</head>
<body>
<header>
  <h1><a id="logo" href = "/">Анализатор финансов</a></h1>
  <a href="auth/logout">Выйти</a>
</header>

<!-- Здесь будет остальное содержимое вашего сайта -->

</body>
</html>
