<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Анализатор финансов</title>
  <link rel="stylesheet" th:href="@{/css/index.css}"/>
  <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js}"></script>
  <script th:src="@{/js/index.js}"></script>
</head>
<body>
<header>
  <div class="logo">Анализатор финансов</div>
  <div class="icons">
    <a href="#"><img th:src="@{/images/main/settings.svg}" alt="Настройки"></a>
    <a href="/auth/logout"><img th:src="@{/images/main/profile.svg}" alt="Профиль"></a>
  </div>
</header>
<main>
  <div class="left-section">
    <div class="accounts">
      <h2>Счета</h2>
      <ul th:if="${not #lists.isEmpty(accounts)}">
        <li th:each="account : ${accounts}">
          <div class="account-info">
            <img th:src="@{/images/main/dollar-icon.svg}" alt="Иконка счета">
            <div class="account-details">
              <p class="account-name" th:text="${account.name}">Название счета</p>
              <p class="account-amount" th:text="${account.amount + ' ' + account.currency}">Сумма</p>
            </div>
            <button class="edit-account-button" th:data-id="${account.id}" title="Редактировать счет">&#9998;</button>
            <button class="delete-account-button" th:data-id="${account.id}" title="Удалить счет">&times;</button>
          </div>
        </li>
      </ul>
      <p th:unless="${not #lists.isEmpty(accounts)}">На данный момент у вас не существует счетов</p>
      <button id="add-account-button">Создать новый счет</button>
    </div>

    <hr>
    <div class="financial-analysis">
      <h2>Анализ финансов</h2>
      <canvas id="chart"></canvas>
    </div>
  </div>
  <hr>
  <div class="right-section section-divider">
    <h2>Операции</h2>
    <button id="add-operation-button">Добавить новую операцию</button>
    <div class="transactions" th:if="${not #lists.isEmpty(operations)}">
      <div class="transaction" th:each="operation : ${operations}">
        <img class="transaction-icon" th:src="@{/images/main/dollar-icon.svg}" alt="Иконка транзакции">
        <div class="transaction-details">
          <p class="transaction-name" th:text="${operation.name}">Название операции</p>
          <p class="transaction-category" th:text="${operation.category}">Категория</p>
        </div>
        <div class="transaction-info">
          <p class="transaction-amount" th:text="(${operation.type} == 'income' ? '+' : '-') + ${operation.amount} + ' ' + ${operation.account.currency}"
             th:style="${operation.type == 'income' ? 'color: #0c7b0c;' : ''}">Сумма</p>
          <p class="transaction-account" th:text="${operation.account.name}">Счет</p>
        </div>
        <button class="edit-operation-button" th:data-id="${operation.id}" title="Редактировать операцию">&#9998;</button>
        <button class="delete-operation-button" th:data-id="${operation.id}" th:data-amount="${operation.amount}" th:data-type="${operation.type}" title="Удалить операцию">&times;</button>
      </div>
    </div>
    <p class="no-transactions" th:unless="${not #lists.isEmpty(operations)}">На данный момент у вас не происходило операций на счетах</p>
  </div>

  <div id="create-operation-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <form id="operation-form">
        <label>Выберите операции:</label>
        <div class="operation-buttons">
          <button type="button" class="income-btn" onclick="selectOperationType('income')">Доход</button>
          <button type="button" class="expense-btn" onclick="selectOperationType('expense')">Расход</button>
        </div>
        <label for="new-operation-name">Название операции:</label>
        <input type="text" id="new-operation-name" name="new-operation-name" autocomplete="off">
        <label for="new-operation-amount">Сумма операции:</label>
        <input type="text" id="new-operation-amount" name="new-operation-amount" autocomplete="off">
        <label for="new-operation-category">Категория операции:</label>
        <select id="new-operation-category" name="new-operation-category">
          <option value="Продукты">Продукты</option>
          <option value="Транспорт">Транспорт</option>
          <option value="Развлечения">Развлечения</option>
          <option value="Переводы">Перевод</option>
        </select>
        <label for="new-operation-account">Выберите счет:</label>
        <select id="new-operation-account" name="new-operation-account">
          <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.name}"></option>
        </select>
        <button class="click-buttons" type="button" onclick="createNewOperation()">Отправить</button>
      </form>
    </div>
  </div>

  <div id="create-account-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <form id="account-form">
        <label for="new-account-name">Название счета:</label>
        <input type="text" id="new-account-name" name="new-account-name" autocomplete="off">
        <label for="new-account-amount">Сумма денег:</label>
        <input type="text" id="new-account-amount" name="new-account-amount" autocomplete="off">
        <label for="new-account-currency">Валюта счета:</label>
        <select id="new-account-currency" name="new-account-currency">
          <option value="₽">Российский рубль</option>
          <option value="$">Американский доллар</option>
          <option value="€">Евро</option>
        </select>
        <button class="click-buttons" type="button" onclick="createNewAccount()">Отправить</button>
      </form>
    </div>
  </div>

  <div id="edit-account-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <form id="edit-account-form">
        <label for="edit-account-name">Название счета:</label>
        <input type="text" id="edit-account-name" name="edit-account-name" autocomplete="off">
        <label for="edit-account-amount">Сумма денег:</label>
        <input type="text" id="edit-account-amount" name="edit-account-amount" autocomplete="off">
        <label for="edit-account-currency">Валюта счета:</label>
        <select id="edit-account-currency" name="edit-account-currency">
          <option value="₽">Российский рубль</option>
          <option value="$">Американский доллар</option>
          <option value="€">Евро</option>
        </select>
        <button class="click-buttons" type="button" id="edit-account-button">Отправить</button>
      </form>
    </div>
  </div>

  <div id="edit-operation-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <form id="edit-operation-form">
        <label>Выберите операции:</label>
        <div class="operation-buttons">
          <button type="button" class="income-btn" onclick="selectOperationTypeForEdit('income')">Доход</button>
          <button type="button" class="expense-btn" onclick="selectOperationTypeForEdit('expense')">Расход</button>
        </div>
        <label for="edit-operation-name">Название операции:</label>
        <input type="text" id="edit-operation-name" name="edit-operation-name" autocomplete="off">
        <label for="edit-operation-amount">Сумма операции:</label>
        <input type="text" id="edit-operation-amount" name="edit-operation-amount" autocomplete="off">
        <label for="edit-operation-category">Категория операции:</label>
        <select id="edit-operation-category" name="edit-operation-category">
          <option value="Продукты">Продукты</option>
          <option value="Транспорт">Транспорт</option>
          <option value="Развлечения">Развлечения</option>
          <option value="Переводы">Перевод</option>
        </select>
        <label for="edit-operation-account">Выберите счет:</label>
        <select id="edit-operation-account" name="edit-operation-account">
          <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.name}"></option>
        </select>
        <button class="click-buttons" type="button" id="edit-operation-button">Изменить операцию</button>
      </form>
    </div>
  </div>

  <div id="delete-account-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Вы уверены, что хотите удалить данный счет?</p>
      <div class="buttons">
        <button id="confirm-delete-account">Да</button>
        <button class="close-modal">Нет</button>
      </div>
    </div>
  </div>

  <div id="delete-operation-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Вы уверены, что хотите удалить данную операцию?</p>
      <div class="buttons">
        <button id="confirm-delete-operation">Да</button>
        <button class="close-modal">Нет</button>
      </div>
    </div>
  </div>

</main>
</body>
</html>
